* {
    margin: 0px;
    padding: 0px;
 }
.hi{
    background-color: white;
}
.links{
    text-align: center;
    padding: 2px;
    color: #3e0550;
    font-family: 'Copperplate';
    font-size: large;
}
.title{
    text-align: center;
    font-family: 'Playfair Display';
    color: #a02884;
}
.blurb{
    text-align: center;
    font-family: 'Playfair Display';
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    color: inherit;
}
.blog {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
}
.blogWhite {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 90%;
    padding: 20px;
}
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 20px;
    align-items: flex-end;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    background-color: white;
    text-align: center;
}
.submit{
    text-align: center;
}
.container {
    padding: 0 16px;
}
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.about-section { /*banner*/
    padding: 50px;
    text-align: center;
    background-color: #a02884;
    color: white;
}
.about-section1 { /*bottom banner*/
    padding: 50px;
    font-size: 10px;
    text-align: center;
    background-color: #a02884;
    color: white;
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
}